//  font-family: 'Poppins', sans-serif;

// VARIABLES GENERATE -----------

$primary-color: #32cd75;
$white: #fff;
$dark: #656567;
$black: #1f1f1f;

//  MIXED ---------
@mixin header-font($fs, $fw) {
  font-size: $fs;
  font-weight: $fw;
  line-height: 1.3;
  font-family: "Poppins", sans-serif;
  color: $black;
}

@mixin flex-cc {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin vertical-horizontal-center {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin bg($url) {
  background: $url center center no-repeat;
  background-size: cover;
}

@mixin after-before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@mixin round-icon {
  background: #514ea1;
  width: 54px;
  height: 54px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  box-shadow: 0 3px 6px rgb(0 0 0 / 25%);
}

// GLOBAL CSS -----------
html {
  font-size: 16px;
  scroll-behavior: smooth;
}
// Google Fonts
@import url(https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap);

body {
  background: $white;
  color: #656567;
  font: 400 1rem/1.6 "Poppins", sans-serif;
}

a {
  text-decoration: none;
  color: $dark;
  outline: none;
}

a:hover {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

h1,
.h1 {
  @include header-font(2rem, 600);
}

h2,
.h2 {
  @include header-font(1.5rem, 600);
  margin-bottom: 1rem;
}

h3 {
  @include header-font(1.4rem, 600);
}

h4 {
  @include header-font(1.375rem, 600);
}

h5 {
  @include header-font(1rem, 600);
}

h6 {
  @include header-font(0.9375rem, 600);
}

p {
  font: 400 1rem/1.6 "Poppins", sans-serif;
  margin-bottom: 1.25rem;
  color: #656567;
}

h1 span,
h2 span {
  color: $primary-color;
}

.btn {
  font: 400 15px/1 "Poppins", sans-serif;
  padding: 9px 15px;
  border-radius: 6px;
  min-width: 100px;
  color: $white;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.btn-primary {
  background-color: $primary-color;
  border-color: $primary-color;
  color: $white;
}

.btn-primary:active + .btn-primary,
.btn-check:checked + .btn-primary,
.btn-primary.active,
.btn-primary:active,
.show > .btn-primary.dropdown-toggle,
.btn-primary:hover {
  background-color: $white;
  border-color: $primary-color;
  color: $primary-color;
}

.btn-secondary {
  background-color: $primary-color;
  border-color: $primary-color;
  color: $white;
}

.btn-secondary:active + .btn-secondary,
.btn-check:checked + .btn-secondary,
.btn-secondary.active,
.btn-secondary:active,
.show > .btn-secondary.dropdown-toggle,
.btn-secondary:hover {
  background-color: $white;
  border-color: $primary-color;
  color: $primary-color;
}

.view-btn {
  color: $primary-color;
}

.text-primary {
  color: $primary-color !important;
}

.text-secondary {
  color: $primary-color !important;
}

.wrapper {
  overflow: hidden;
}

.fullwidth {
  position: relative;
  margin-left: 50%;
  width: 100vw;
  max-width: 100vw;
  clear: both;
}

ul.list {
  padding: 0;
  margin: 0 0 30px;
  list-style: none;
}

ul.list li {
  position: relative;
  padding-left: 30px;
  margin-bottom: 12px;
  font-size: 16px;
  font-weight: 500;
}

ul.list li:before {
  content: "\f105";
  font-family: fontAwesome;
  position: absolute;
  left: 0;
  top: 2px;
  border: 1px solid $primary-color;
  color: $primary-color;
  height: 20px;
  width: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.section-padding {
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.section-padding-top {
  padding-top: 4rem;
}

.section-padding-bottom {
  padding-bottom: 4rem;
}

.primary-color {
  color: $primary-color;
}

.form-select {
  background-color: #fafafa;
  border: 1px solid #c3d5d9;
  border-radius: 6px;
  font-size: 15px;
}

.form-control {
  border: 1px solid #c3d5d9;
  border-radius: 6px;
  background-color: #fafafa;
  font-size: 15px;
}

.form-control:focus,
.form-select:focus {
  box-shadow: none;
  outline: none;
}

.form-select {
  background-image: url(../img/dropdown-arrow.svg);
}

.border-radius {
  border-radius: 10px;
  overflow: hidden;
}

/* Owl Carousel */
.owl-carousel .owl-nav button.owl-next,
.owl-carousel .owl-nav button.owl-prev {
  width: 40px;
  height: 40px;
  display: block;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  outline: none !important;
  margin: 0;
}

.owl-carousel .owl-nav button.owl-next {
  right: -34px;
  background: url(../img/next.png) center center no-repeat rgba(0, 0, 0, 0.5) !important;
}

.owl-carousel .owl-nav button.owl-prev {
  left: -34px;
  background: url(../img/prev.png) center center no-repeat rgba(0, 0, 0, 0.5) !important;
}

.owl-theme .owl-nav {
  margin-top: 0px;
}

.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
  background: $primary-color;
}

/*	------ HEADER PART ------  */

.header {
  background: $white;
  padding: 10px 0;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1);
}

.top-menu ul li a {
  font-family: "Poppins", sans-serif;
}

.header .btn.btn-primary > i {
  position: relative;
  left: -5px;
}

@media screen and (min-width: 992px) {
  /*	Sticky Header  */
  .header.fix {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    padding: 10px 0;
    z-index: 999;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
    background: rgba(255, 255, 255, 0.97);
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-name: fadeInDown;
    animation-name: fadeInDown;

    .logo img {
      max-width: 180px;
    }
  }

  @-webkit-keyframes fadeInDown {
    0% {
      opacity: 0;
      -webkit-transform: translate3d(0, -100%, 0);
      transform: translate3d(0, -100%, 0);
    }

    100% {
      opacity: 1;
      -webkit-transform: none;
      transform: none;
    }
  }

  @keyframes fadeInDown {
    0% {
      opacity: 0;
      -webkit-transform: translate3d(0, -100%, 0);
      transform: translate3d(0, -100%, 0);
    }

    100% {
      opacity: 1;
      -webkit-transform: none;
      transform: none;
    }
  }

  .top-menu ul {
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center;
  }

  .top-menu ul li {
    display: inline-block;
    position: relative;
    z-index: 991;
    margin: 0 5px;
  }

  .top-menu ul li a {
    padding: 4px 12px;
    font-weight: 400;
    color: $black;
    font-size: 15px;
    display: block;
  }

  .top-menu ul li.dropdown > a:after {
    content: "";
    width: 12px;
    height: 10px;
    display: inline-block;
    margin-left: 4px;
    background: url(../img/dropdown.png) center center no-repeat;
  }

  .top-menu ul li a:hover,
  .top-menu ul li:hover > a,
  .top-menu ul li.current-menu-item > a {
    color: $primary-color;
  }

  .top-menu ul ul {
    padding: 0;
    margin: 0;
    list-style: none;
    position: absolute;
    left: 0;
    width: 220px;
    background: #f3f2ee;
    padding: 10px 0;
    text-align: left;
  }

  .top-menu ul ul li {
    float: none;
    padding: 0 15px;
    margin: 0;
    display: block;
  }

  .top-menu ul ul li a {
    color: $black;
    display: block;
    padding: 5px;
    border: none;
    font-size: 16px;
  }

  .top-menu ul ul li.dropdown > a:after {
    display: none;
  }

  .top-menu ul ul li a:hover,
  .top-menu ul ul li:hover > a,
  .top-menu ul ul li.current-menu-item > a {
    color: $primary-color;
  }

  .top-menu ul ul ul {
    left: 100%;
    top: 0;
  }

  .top-menu ul li:hover > ul {
    display: block;
  }

  .top-menu ul li ul {
    opacity: 0;
    z-index: 10;
    top: -9999em;
    -webkit-box-shadow: 0 2px 7px rgba(0, 0, 0, 0.4);
    box-shadow: 0 2px 7px rgba(0, 0, 0, 0.4);

    -webkit-transform: scale(0.9);
    transform: scale(0.9);

    -webkit-transform-origin: center top;
    transform-origin: center top;

    -webkit-transition-property: -webkit-transform, opacity, top;
    transition-property: transform, opacity, top;

    -webkit-transition-duration: 0.3s, 0.3s, 0s;
    transition-duration: 0.3s, 0.3s, 0s;

    -webkit-transition-delay: 0s, 0s, 0.3s;
    transition-delay: 0s, 0s, 0.3s;
  }

  .top-menu ul li:hover > ul {
    top: 100%;
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);

    -webkit-transition-delay: 0s;
    transition-delay: 0s;
  }

  .top-menu ul ul li:hover > ul {
    top: -10px;
    left: 100%;
  }

  .top-menu ul li.current-menu-item > a {
    font-weight: 700;
  }
}

/* ---  Header part -----*/

.language-area {
  display: inline-block;
}

.search-area {
  width: 260px;
  position: relative;

  .form-control {
    width: 100%;
    padding-left: 40px;
    height: 45px;
    margin-bottom: 0px;
    font-size: 15px;
  }

  .search-btn {
    position: absolute;
    top: 5px;
    left: 5px;
    background: url(../img/search-icon.svg) center center no-repeat;
    background-size: auto;
    width: 35px;
    height: 35px;
    border: 0;
    color: transparent;
  }
}

.header {
  .btn,
  .form-select {
    font-size: 15px;
  }

  .btn {
    padding: 6px 15px;
    min-width: auto;
    height: 36px;
  }
}

.logo .custom-logo-link img {
  max-width: 200px;
}

/* ---  First Section -----*/

.first-section {
  padding: 40px 0;

  .mileage-km {
    position: relative;
    &::before {
      content: "KM";
      color: #32cd75;
      font-size: 14px;
      position: absolute;
      top: 50%;
      right: 17px;
      transform: translateY(-50%);
      font-weight: 500;
    }
  }

  .sidebar-area {
    position: relative;
    padding: 15px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;

    .head-part {
      border-bottom: 1px solid #ccc;
      display: flex;
      justify-content: space-between;
      margin-bottom: 20px;
      padding-bottom: 8px;

      & > * {
        flex: 0 0 auto;
      }

      h5 i {
        color: $primary-color;
      }

      .clear a {
        font-size: 14px;
        color: $primary-color;
      }
    }

    .filter-item {
      margin-bottom: 25px;

      h6 {
        margin-bottom: 10px;
      }
    }
  }
}

.card.product-card {
  margin: 0;
  padding: 0;
  border: 0;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  max-width: 350px;
  margin-left: auto;
  margin-right: auto;

  .card-header {
    margin: 0;
    padding: 0;
    border: 0;
    height: 230px;
    overflow: hidden;
    &:hover > img {
      transform: scale(1.1);
    }
    img {
      width: 100%;
      height: 100%;
      transition: all 0.5s;
    }
  }

  .card-body {
    padding: 10px 10px;

    h6 {
      margin-bottom: 10px;
      font-size: 14px;
    }

    p {
      margin-bottom: 0;
      font-size: 12px;
    }

    .price-area {
      margin: 15px 0;
      padding: 8px 0;
      border-top: 1px solid #c3d5d9;
      border-bottom: 1px solid #c3d5d9;

      & > * {
        flex: 0 0 auto;
        width: auto;
        max-width: none;
      }

      .tm {
        font-size: 14px;
        display: flex;
        align-items: center;
        gap: 10px;

        i {
          font-size: 18px;
          color: $primary-color;
        }
      }

      .pp {
        font-size: 14px;

        span {
          font-weight: 700;
          color: $primary-color;
        }
      }
    }
  }
}

.second-section {
  background-color: #fafafa;

  .heading-part {
    padding-bottom: 12px;
    margin-bottom: 20px;
    border-bottom: 1px solid #ccc;
  }

  .home-product-carousel {
    .item {
      padding: 5px;
    }

    .car-product-main {
      width: 100%;
    }
  }
}

.testimonial-carousel .item {
  padding: 2px;
}

.testimonial-area {
  background: #ffffff;
  border: 1px solid #c3d5d9;
  border-radius: 6px;
  padding: 24px 30px;

  & > p {
    margin-bottom: 0;
  }

  .media-area {
    position: relative;
    margin-bottom: 25px;

    img {
      border-radius: 50%;
      overflow: hidden;
    }

    h4 {
      margin-bottom: 6px;
    }

    h6 {
      font-weight: 500;
      color: $primary-color;
      margin-bottom: 0;
    }

    .date {
      font-size: 14px;
      display: inline-block;
      position: absolute;
      right: 0;
      top: 0;
    }
  }
}

.coment-show {
  border: 1px solid #d5d5d5;
  padding: 3px 4px;
  border-radius: 8px;
  background: transparent;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 1px;
  color: #d5d5d5;
  margin-right: 5px;
  outline: 0;
  width: fit-content;
}

/* --------------------------- INNER PAGES ------------------------------ */

.flexslider {
  margin: 0 0 0px;

  .flex-control-nav.flex-control-thumbs {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px 0;
    margin: 0 0px;

    li {
      width: 16%;
      padding: 0px;
      margin: 0 0px;
      box-shadow: none;
      float: inherit;
      height: 100px;
      display: flex;

      img {
        object-fit: cover;
        width: 100%;
        height: 100%;
        border: 2px solid #fff;
        box-sizing: border-box;
        opacity: 1;
        border-radius: 6px;
      }

      img.flex-active {
        border: 2px solid $primary-color;
      }
    }
  }

  .flex-direction-nav a {
    height: 60px;
  }

  .flex-direction-nav {
    display: none;
  }
}

.place-head {
  & > div:nth-child(1) {
    p {
      width: 110px;
      margin: 0;
      color: #fff;
      background: $primary-color;
      min-height: 50px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 6px;
      font-size: 18px;
    }
  }

  & > div:nth-child(2) {
    ul {
      margin: 0;
      padding: 0;
      list-style: none;
      background: #1f1f1f;
      border-radius: 6px;
      display: flex;
      flex-wrap: wrap;

      li {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        font-size: 18px;
        color: #fff;
        // padding: 0 40px;
        padding: 0 24px;
        min-height: 50px;

        span {
          color: $primary-color;
          margin-left: 6px;
        }

        img {
          margin-right: 5px;
        }
      }

      li:not(:last-child) {
        border-right: 1.5px solid #656565;
      }
    }
  }
}

.product-details-section {
  .table {
    margin-bottom: 60px;
  }

  .table > :not(caption) > * > * {
    padding: 15px 35px;
  }

  .table tr > td:nth-child(1) {
    background-color: #fafafa;
  }

  .reserve-part {
    padding: 30px 30px 25px;
    border: 1px solid #d4d4d4;
    border-radius: 10px;

    .left-part {
      span {
        font-weight: 600;
        color: #1f1f1f;
        margin-right: 10px;
      }

      h3 {
        font-size: 36px;
        font-weight: 600;
        color: $primary-color;
      }
    }

    .right-part {
      & > p > span {
        width: 65px;
        display: inline-block;
        color: #1f1f1f;
        font-weight: 500;
      }

      .btn {
        font-size: 14px;
        padding: 4px 10px;
        min-width: auto;
        margin-left: 8px;
      }
    }

    img {
      margin: 0 5px;
    }

    p {
      margin-bottom: 5px;
      font-size: 14px;
    }
  }
}

.comments-area {
  margin-top: 40px;

  .nav-tabs-comments {
    ul {
      border: 0;

      li {
        border: 0;

        .nav-link {
          padding: 0 10px;
          margin: 0 10px;
          border: 0;
          color: #8a8a8a;
        }

        .nav-link.active {
          color: #2e2e2e;
        }
      }
    }
  }
}

.comment-content-items {
  margin-top: 22px;

  .head-part {
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    & > * {
      display: inline-block;
      margin: 0;
    }

    h5 {
      margin: 0 10px;
    }

    img {
      max-width: 36px;
    }
  }

  .body-part {
    padding-left: 46px;

    .btn {
      border: 1px solid $primary-color;
      background: #fff;
      border-radius: 5px;
      color: $primary-color;
      text-align: center;
      display: inline-block;
    }

    .btn:hover {
      background: $primary-color;
      color: #fff;
    }

    textarea {
      width: 100%;
      border: 1px solid #c3d5d9;
      border-radius: 6px;
      background-color: #fafafa;
      outline: 0;
      margin: 7px 0;
      display: block;
      height: 80px;
    }
  }
}

.from-group.comment-form {
  position: relative;
  margin-bottom: 10px;

  .form-control {
    height: 58px;
    padding-right: 105px;
  }

  .btn {
    position: absolute;
    right: 0;
    top: 0;
    width: 75px;
    height: 58px;
    background: url(../img/icon-send.svg) center center no-repeat $primary-color;
  }
}

.sidebar-part {
  border: 1px solid #c7c7c7;
  background-color: #fafafa;
  border-radius: 10px;
  padding: 20px 15px;

  .card.product-card {
    .card-header {
      height: auto;
    }
  }

  h2 {
    font-size: 20px;
  }

  .product-card {
    margin-bottom: 20px;
  }
}

.sell-car-area {
  background: #fafafa;
  border: 1px solid #c7c7c7;
  border-radius: 10px;
  text-align: center;
  padding: 40px;

  h2 {
    font-size: 22px;
  }

  .btn {
    padding: 12px 20px;
  }
}

.result-form {
  width: 100%;
  display: flex;
  gap: 10px;

  .form-select {
    width: 150px;
    color: #8a8a8a;
  }
}

.sell-your-car-form-section {
  .items {
    background: #fafafa;
    border: 1px solid #c7c7c7;
    border-radius: 10px;
    padding: 25px 35px 15px;
    margin-bottom: 25px;

    h3 {
      position: relative;
      color: #000;
      margin-bottom: 25px;
      padding-bottom: 10px;
    }

    h3::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 55px;
      height: 3px;
      background: $primary-color;
    }

    p {
      color: #1f1f1f;
    }

    .form-control,
    .form-select {
      background-color: #ffffff;
      border: 1px solid #c7c7c7;
      border-radius: 8px;
      padding: 8px 12px;
      margin: 8px 0 22px;
    }

    label {
      color: #1f1f1f;
    }

    span.label {
      margin-bottom: 8px;
      display: block;
      color: #1f1f1f;
    }

    span.label ~ label {
      margin: 0 3px 18px;
    }

    .input-price {
      background: url(../img/ic.svg) no-repeat #ffffff 12px center;
      padding-left: 35px;
    }

    .textarea-form {
      height: 95px;
    }
  }

  .btn-submit {
    min-width: 165px;
    height: 50px;
    font-size: 16px;
    letter-spacing: 1px;
  }
}

.radio-group {
  input {
    display: none;
  }

  .radio-btn {
    width: 96px;
    height: 45px;
    border: 1px solid #d4d4d4;
    border-radius: 8px;
    background: #fff;
    font-size: 16px;
    color: #8a8a8a;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }

  input:checked + .radio-btn {
    background: $primary-color;
    color: #fff;
  }
}

.aboutpage-section {
  padding-top: 7rem;

  h3 {
    position: relative;
    padding-bottom: 10px;
    margin-bottom: 25px;
    margin-top: -70px;
  }

  h3::after {
    content: " ";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background: #c2c2c2;
  }

  h3::before {
    content: "";
    margin-top: 70px;
    position: relative;
    background: #fff;
    width: 100%;
    height: 100%;
    display: block;
    visibility: hidden;
  }

  .right-part {
    p {
      color: #8a8a8a;
    }
  }

  #testimonial {
    margin-bottom: 25px;
  }

  .testimonial-card {
    position: relative;
    padding: 15px;
    background: #ffffff;
    border: 1px solid #c3d5d9;
    border-radius: 6px;
    margin-bottom: 20px;

    .date {
      font-size: 11px;
      color: #656567;
      position: absolute;
      right: 15px;
      top: 10px;
    }

    .head-part {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      margin-bottom: 10px;

      & > * {
        flex: 0 0 auto;
      }

      .content-area {
        flex: 1 0 0%;
        margin-left: 12px;

        h5 {
          font-size: 18px;
          font-weight: 600;
          color: #1f1f1f;
          margin-bottom: 0px;
        }

        h6 {
          font-size: 14px;
          font-weight: 500;
          color: $primary-color;
        }
      }
    }

    p {
      font-size: 13px;
      margin: 0;
      color: #656567;
    }
  }
}

.faq-area {
  .accordion {
    counter-reset: item;
  }

  .accordion-item {
    margin-bottom: 15px;
  }

  .accordion-button {
    position: relative;
    padding-left: 75px;
    background: #fff;
    color: #1f1f1f;
  }

  .accordion-button::after {
    content: counter(item, decimal-leading-zero) "";
    counter-increment: item;
    width: 60px;
    height: 100%;
    background: $primary-color;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: none;
    clip-path: polygon(0 0, 100% 0, 65% 100%, 0% 100%);
    padding-right: 10px;
  }

  .accordion-button:focus {
    box-shadow: none;
  }

  .accordion-button:not(.collapsed)::after {
    color: $primary-color;
    clip-path: none;
    border-left: 6px solid $primary-color;
    background: transparent;
  }

  .accordion-body {
    color: #8a8a8a;
  }
}

.side-navbar {
  background: #fafafa;
  padding: 20px;
  width: 100%;
  border: 1px solid #c3d5d9;
  border-radius: 6px;
  position: sticky;
  top: 100px;

  ul li a {
    padding: 4px 12px;
    font-weight: 400;
    color: $black;
    font-size: 15px;
    display: block;
  }

  ul li.dropdown > a:after {
    content: "";
    width: 12px;
    height: 10px;
    display: inline-block;
    margin-left: 4px;
    background: url(../img/dropdown.png) center center no-repeat;
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      display: block;
      text-align: left;

      &:not(:last-child) {
        margin-bottom: 15px;
      }

      a {
        color: #1f1f1f;
        font-size: 16px;
        font-weight: 500;
        padding: 5px 0px;
        text-transform: capitalize;
      }

      a.active {
        color: $primary-color;
      }

      ul {
        position: relative;
        opacity: 1;
        top: 0;
        box-shadow: none;
        background: none;
        width: auto;
        padding: initial;
        transform: none;
        margin-top: 10px;
        padding-left: 20px;

        li {
          transform: none;
          margin-bottom: 10px !important;

          a {
            font-size: 15px;
            font-weight: 400;
          }
        }
      }

      &:hover > ul {
        top: 0;
        opacity: 1;
        transform: none;
        transition-delay: 0s;
      }
    }
  }
}

body.about-page .header {
  position: fixed;
  width: 100%;
}

/* ---  FOOTER SECTION ----- */

footer {
  background-color: #f5f5f5;
  padding: 70px 0 0px;

  h3 {
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 25px;
  }

  h5 {
    margin-top: 30px;
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      display: block;
      color: #656567;
      margin-bottom: 10px;

      a {
        color: #656567;
        transition: 0.4s;

        &:hover {
          color: $primary-color;
          transition: 0.4s;
        }
      }
    }
  }

  .logo-widget {
    img {
      margin-bottom: 20px;
      max-width: 190px;
    }
  }

  .newsletter-form {
    .form-group {
      width: 100%;
      max-width: 100%;
      position: relative;

      .form-control.email-form {
        height: 48px;
        margin-bottom: 10px;
        background: url(../img/icon-mail.svg) no-repeat #fff;
        background-size: 22px auto;
        background-position: 18px center;
        padding-left: 50px;
        box-shadow: 0px 3px 20px #d6d6d6;
        border: 1px solid #c3d5d9;
        border-radius: 32px;
        padding-right: 110px;
      }

      .btn {
        border-radius: 32px;
        height: 100%;
        position: absolute;
        top: 0;
        right: 0;
        width: 105px;
      }
    }
  }

  /*  Copyright Area  */
  .copyright-row {
    margin-top: 30px;
    padding: 25px 0;
    border-top: 1px solid #ccc;

    p {
      margin-bottom: 0;
    }
  }
}

.social-icons {
  list-style: none;

  li {
    display: inline-block;
    margin: 0 10px;

    a {
      color: #8a8a8a;
      font-size: 20px;
      transition: 0.4s;

      &:hover {
        color: $primary-color;
        transition: 0.4s;
      }
    }

    &:nth-last-child(1) {
      margin-right: 0;
    }
  }
}

/* ----- LOGIN AREA ------- */

.login-area {
  width: 100%;
  max-width: 550px;
  text-align: center;
  margin: auto;
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0 0 20px rgba(16, 150, 74, 0.25);

  .form-group {
    text-align: left;
  }
}

/*18-12-23*/
.search-btn {
  justify-content: center;
}

/*18-12-23*/

/*19-12-23*/
.registration-form-inner input[type="number"] {
  appearance: none !important;
}

.registration-form-inner input[type="number"] {
  appearance: textfield;
}

/*19-12-23*/

/* ============  INNERPAGES CSS  ============= */

.buyers-dashboard-section {
  background: #fafafa;

  .buyers-dashboard-area {
    background: #fff;
    border: 1px solid #cddcdf;
    border-radius: 6px;

    .header-part {
      border-bottom: 1px solid #dfe8ea;
      padding: 30px;

      .author-image {
        border: 1px solid $primary-color;
        border-radius: 50%;
        width: 130px;
        height: 130px;
        position: relative;
          > img{
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        .fileupload-area {
          position: relative;

          label {
            position: absolute;
            right: 0;
            top: 85px;
            z-index: 1;
            cursor: pointer;
          }

          input {
            z-index: 9;
            position: absolute;
            top: 85px;
            right: 0px;

            width: 27px;
            height: 27px;
            opacity: 0;
            z-index: 2;
            cursor: pointer;
          }
        }
      }

      .text-area {
        h4 {
          display: block;
          font-size: 18px;
          margin: 0;
        }

        a {
          display: block;
          font-size: 14px;
          color: #a3a3a3;
          margin-top: 2px;
          word-break: break-all;
        }

        a:hover {
          color: $primary-color;
        }
      }

      .card-btn {
        img {
          width: 25px;
          filter: brightness(0) invert(1);
          margin-right: 5px;
          transition: 0.3s;
        }

        &:hover img {
          filter: none;
          transition: 0.3s;
        }
      }
    }

    .body-part {
      padding: 30px;

      .buyers-dashboard-form {
        label {
          display: block;
          color: #222;
          margin-bottom: 5px;
        }

        .form-control {
          margin-bottom: 15px;
          background: #fff;
        }
      }
    }
  }
}

.credit-card-modal-area {
  .modal-header {
    background: $primary-color;
  }

  .modal-header h5 {
    color: #fff;
  }

  .modal-body {
    padding: 20px 35px 35px;

    label {
      font-size: 14px;
      font-weight: 500;
      color: #34495e;
      margin-bottom: 3px;
    }

    .form-control {
      margin-bottom: 15px;
      background: #fff;
    }

    .btn {
      height: 38px;
      margin-top: 10px;
    }
  }
}

.card-display-area {
  background: #00222b;
  padding: 20px 15px;
  border-radius: 6px;
  display: inline-block;
  margin-right: 20px;
  width: 320px;

  .card-no {
    color: #ffffff;
    font-size: 16px;
    margin: 0;
    letter-spacing: 1.2px;
  }

  p {
    color: #ffffff;
    font-size: 13px;
    margin: 0;
    display: block;
    text-align: right;
    margin: 5px 0;
  }

  .card-name {
    color: #ffffff;
    font-size: 14px;
    display: block;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 0.5px;
    margin: 0;
  }

  .dropdown {
    text-align: right;
    margin-top: -15px;
    right: -8px;
  }

  .dropdown-toggle {
    padding: 0 3px;
    border: 0;
    width: auto;
    appearance: none;
    background: none;
    justify-content: end;
  }

  .dropdown-toggle::after {
    display: none;
  }
}

input::placeholder {
  color: #c4c4c4 !important;
  font-size: 14px !important;
}

input:focus {
  box-shadow: none !important;
}

.login-modal-area .modal-header {
  padding: 12px 35px;
}

.signup-modal > .modal-dialog {
  max-width: 650px;
}

.signup-modal .checkbox {
  .form-group {
    display: inline-flex;
    align-items: center;
  }

  input {
    margin: 0;
    margin-right: 8px;
    position: relative;
    top: -1px;
  }

  label {
    font-size: 14px;
    font-weight: 400;
    color: #8a8a8a;
  }

  .form-check-input:checked {
    background-color: $primary-color;
    border-color: $primary-color;
  }
}

.login-with-google {
  position: relative;
  text-align: center;
  display: flex;
  justify-content: center;
  z-index: 1;
  margin: 20px 0 15px;

  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    background: #d4d4d4;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
  }

  a {
    display: inline-block;
    padding: 0 15px;
    background: #fff;
    position: relative;
    z-index: 2;
  }
}

// 25-01-2024-Slider-Start======
.flexslider {
  .carousel {
    li.slide {
      height: 600px;

      & > div {
        height: 100%;

        img {
          height: 100%;
          object-fit: cover;
        }
      }
    }

    .thumb {
      height: 60px;

      & img {
        height: 100%;
        object-fit: cover;
      }
    }
  }
}

//    li.slide{
// 		height: 600px;
// 		& > div{
// 		height: 100%;
// 		}
// 		img{
// 			height: 100%;
// 			object-fit: cover;
// 		}
// 	}

// 30-01-2024
.outln {
  .upload-area {
    border: 3px dotted #32cd75;
    max-width: 410px;
  }
  .gallery {
    position: relative;
    padding: 30px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #eaf7ed;
  }
  p {
    margin-bottom: 0;
    text-align: center;
    padding: 0 15px;
  }
  input.p-upload {
    display: block !important;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    cursor: pointer;
  }
}
.upload-wrap {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin: 0 -10px;
  .upload-item {
    width: 20%;
    padding: 10px;
  }
  .upload-i-brdr {
    border: 1px solid #32cd75;
    height: 160px;
    padding: 10px;
    border-radius: 14px;
    position: relative;
    & img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    button {
      background: transparent;
      margin: 0;
      padding: 0;
      border: none;
      outline: 0;
      position: absolute;
      top: 5px;
      right: 10px;
      & img {
        width: 20px;
      }
    }
  }
}
// Bidder-history
.bid-history {
  width: 100%;
  margin: 20px 0;
  background-color: #fff;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }

  th,
  td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }

  th {
    background-color: #f2f2f2;
  }

  .bidder-name {
    font-weight: bold;
  }

  .bid-amount {
    color: #3498db;
  }
}
// Bidder-history
.bid-history-bg {
  padding-top: 26px;
  .bid-history-list {
    background: #ffffff 0% 0% no-repeat padding-box;
    border: 1px solid #c3d5d9;
    border-radius: 6px;
    padding: 20px 25px;
  }
  .list-container {
    background: #ffffff 0% 0% no-repeat padding-box;
    border: 1px solid #d4d4d4;
    border-radius: 6px;
    padding: 10px 15px;
    .list-container-wrap {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      border-bottom: 2px solid #d4d4d4;
      padding-bottom: 30px;
      &:last-child {
        border-bottom: none;
      }
      .img-row {
        width: 15%;
        padding: 0 10px;
        padding-left: 0;
      }
      .det-row {
        width: 80%;
        padding: 0 10px;
      }
      .opt-row {
        width: 5%;
        padding: 0;
        text-align: center;
      }
      .btn {
        min-width: 100%;
        padding: 0;
      }
      .dropdown-toggle {
        &::after {
          display: none;
        }
      }
    }

    p {
      margin-top: 10px;
      margin-bottom: 0;
      text-align: left;
      font-size: 14px;
      font-weight: 500;
      line-height: 24px;
      letter-spacing: 0px;
      color: #656567;
    }
    button.option {
      border: none;
      background: transparent;
      outline: 0;
    }
    .dtl {
      strong {
        font-size: 18px;
        font-weight: bold;
        letter-spacing: 0px;
        color: #00222b;
        margin-right: 10px;
      }
      small {
        text-align: left;
        font-size: 11px;
        font-weight: normal;
        letter-spacing: 0px;
        color: #9b9b9b;
        text-transform: capitalize;
        font-family: "Roboto", sans-serif;
        font-weight: normal;
        margin: 0 10px;
      }
      span {
        background: #32cd75 0% 0% no-repeat padding-box;
        border-radius: 5px;
        text-align: center;
        font-weight: 900;
        font-size: 14px;
        letter-spacing: 0px;
        color: #ffffff;
        text-transform: capitalize;
        padding: 5px 14px;
      }
    }
  }
  h2 {
    font-size: 22px;
    font-weight: bold;
    letter-spacing: 0px;
    color: #00222b;
  }
}

// Body-overflow
div#root {
  overflow-x: hidden;
}
// Body-overflow
/* Side-bar=====Start*/

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 260px;
  z-index: 100;
  transition: all 0.11s ease;
  background: #00222b;
}
.sidebar.close {
  width: 78px;
}
.sidebar .logo-details {
  height: 80px;
  width: 100%;
  display: flex;
  align-items: center;
  padding-left: 30px;
  background: #001920;
  justify-content: space-between;
  padding-right: 10px;
}
.sidebar .logo-details i {
  font-size: 30px;
  color: #fff;
  height: 50px;
  min-width: 78px;
  text-align: center;
  line-height: 50px;
}
.sidebar .logo-details .logo_name {
  font-size: 22px;
  color: #fff;
  font-weight: 600;
  transition: 0.3s ease;
  transition-delay: 0.1s;
}
.sidebar.close .logo-details .logo_name {
  transition-delay: 0s;
  opacity: 0;
  pointer-events: none;
}
.sidebar .nav-links {
  height: 100%;
  padding: 30px 0 150px 0;
  overflow: auto;
}
.sidebar.close .nav-links {
  overflow: visible;
}
.sidebar .nav-links::-webkit-scrollbar {
  display: none;
}
.sidebar .nav-links li {
  position: relative;
  list-style: none;
  transition: all 0.4s ease;
}
.sidebar .nav-links li.showMenu .link_name {
  color: #32cd75;
}
.sidebar .nav-links li .iocn-link {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 40px;
}
.sidebar.close .nav-links li .iocn-link {
  display: block;
}
.sidebar .nav-links li i {
  height: 50px;
  min-width: 78px;
  text-align: center;
  line-height: 50px;
  color: #fff;
  font-size: 20px;
  cursor: pointer;
  transition: all 0.3s ease;
  transform: rotate(270deg);
}
.sidebar .nav-links li.showMenu i.arrow {
  transform: rotate(0deg);
  color: #32cd75;
}
.sidebar.close .nav-links i.arrow {
  display: none;
}
.sidebar .nav-links li a {
  display: flex;
  align-items: center;
  text-decoration: none;
}
.sidebar .nav-links li a .link_name {
  font-size: 18px;
  font-weight: 400;
  color: #fff;
  transition: all 0.4s ease;
  white-space: nowrap;
}
.sidebar.close .nav-links li a .link_name {
  opacity: 0;
  pointer-events: none;
}
.sidebar .nav-links li .sub-menu {
  padding: 6px 6px 14px 80px;
  margin-top: -10px;
  background: #1d1b31;
  display: none;
}
.sidebar .nav-links li.showMenu .sub-menu {
  display: block;
}
.sidebar .nav-links li .sub-menu a {
  color: #fff;
  font-size: 15px;
  padding: 5px 0;
  white-space: nowrap;
  opacity: 0.6;
  transition: all 0.3s ease;
}
.sidebar .nav-links li .sub-menu a:hover {
  opacity: 1;
}
.sidebar.close .nav-links li .sub-menu {
  position: absolute;
  left: 100%;
  top: -10px;
  margin-top: 0;
  padding: 10px 20px;
  border-radius: 0 6px 6px 0;
  opacity: 0;
  display: block;
  pointer-events: none;
  transition: 0s;
}
.sidebar.close .nav-links li:hover .sub-menu {
  top: 0;
  opacity: 1;
  pointer-events: auto;
  transition: all 0.4s ease;
}
.sidebar .nav-links li .sub-menu .link_name {
  display: none;
}
.sidebar.close .nav-links li .sub-menu .link_name {
  font-size: 18px;
  opacity: 1;
  display: block;
}
.sidebar .nav-links li .sub-menu.blank {
  opacity: 1;
  pointer-events: auto;
  padding: 3px 20px 6px 16px;
  opacity: 0;
  pointer-events: none;
}
.sidebar .nav-links li:hover .sub-menu.blank {
  top: 50%;
  transform: translateY(-50%);
}

.sidebar.close .profile-details {
  background: none;
}
.sidebar.close .profile-details {
  width: 78px;
}

.sidebar.close .profile-details img {
  padding: 10px;
}

.sidebar.close .profile-details i,
.sidebar.close .profile-details .profile_name,
.sidebar.close .profile-details .job {
  display: none;
}

.home-section {
  position: relative;
  background: #fafafa;
  height: 100vh;
  left: 260px;
  width: calc(100% - 260px);
  transition: all 0.11s ease;
}
.sidebar.close ~ .home-section {
  left: 0;
  width: 100%;
}
.home-section .home-content {
  height: auto;
  align-items: center;
  background: #fafafa 0% 0% no-repeat padding-box;
  box-shadow: 0px 2px 6px #0000001a;
  display: flex;
  justify-content: space-between;
  padding: 20px 15px;
}
.home-section .home-content .bx-menu,
.home-section .home-content .text {
  color: #11101d;
  font-size: 35px;
}
.home-section .home-content .bx-menu {
  margin: 0 15px 0 0;
  cursor: pointer;
}
.home-section .home-content .text {
  font-size: 26px;
  font-weight: 600;
}
.sidebar .dash-headign {
  display: flex;
  padding-left: 30px;
  align-items: center;
  padding-top: 30px;
  color: #fff;
  gap: 10px;
  font-size: 22px;
}
.sidebar.close {
  left: -210px;
}
.home-content .header-search .form-control {
  outline: 0;
  box-shadow: none;
  padding-left: 40px;
  max-width: 340px;
  margin: auto;
  width: 100%;
  background-image: url("../img//search-icon.svg");
  background-repeat: no-repeat;
  background-position: 8px;
  background-size: 17px;
}
.home-content .header-search {
  position: relative;
  flex-grow: 1;
  padding: 0 15px;
}
.home-content .header-search img {
  position: absolute;
}
.home-content .form-control:focus {
  box-shadow: none;
}
.home-content .h-user ul {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  gap: 20px;
}
.home-content .h-user ul li {
  list-style: none;
}
.home-content .h-user ul li.email img {
  width: 24px;
}
.home-content .h-user ul li.notification img {
  width: 24px;
}
.home-content .h-user ul li.user img {
  width: 40px;
}
.home-content .h-user .form-select {
  background-image: url("../img//dropdown.svg");
  border: none;
  background-color: transparent;
  box-shadow: none;
  width: auto;
}

/* Side-bar=====End*/
.sidebar {
  .res-close {
    display: none;
  }
}
.com-rep-wrap {
  .com-rep {
    display: flex;
    align-items: center;
    gap: 10px;
    h5 {
      margin: 0;
    }
  }
  p {
    padding-left: 44px;
    margin-bottom: 0;
  }
}
.place-head ul li:first-child {
  gap: 4px;
}
.main-loader {
  position: fixed;
  background: #00000029;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;

  svg {
    width: 3.25em;
    transform-origin: center;
    animation: rotate4 2s linear infinite;
  }

  circle {
    fill: none;
    stroke: #32cd75;
    stroke-width: 5;
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
    stroke-linecap: round;
    animation: dash4 1.5s ease-in-out infinite;
  }

  @keyframes rotate4 {
    100% {
      transform: rotate(360deg);
    }
  }

  @keyframes dash4 {
    0% {
      stroke-dasharray: 1, 200;
      stroke-dashoffset: 0;
    }

    50% {
      stroke-dasharray: 90, 200;
      stroke-dashoffset: -35px;
    }

    100% {
      stroke-dashoffset: -125px;
    }
  }
}

// 25-01-2024-Slider-End======

// 22-02-2024 Start
.act-auc-btm {
  border-bottom: 1px solid #ccc;
  margin-bottom: 10px;
  h2 {
    padding-bottom: 12px;
  }
}
// 22-02-2024 End

.carousel .thumb.selected,
.carousel .thumb:hover {
  border: 1px solid #32cd75;
}

.product-gallery-section {
  .carousel {
    .thumb {
      &.selected,
      &:hover {
        border: 1px solid #32cd75;
      }
    }
    .thumbs-wrapper {
      margin: 20px 20px 20px 0;
    }
  }
  .flexslider {
    .carousel .thumbs {
      padding: 0;
    }
  }
}
.finished-auctions {
  small {
    color: #8a8a8a;
    font-size: 12px;
    display: block;
    margin-bottom: 10px;
  }
}

// 06-03-2024
// sidebar-option
.filter-item-select{
  position: relative;
  ul{
    position: absolute;
    background: #fafafa;
    z-index: 99;
    top: 40px;
    left: 0;
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    height: 270px;
    overflow-y: auto;
    padding-top: 10px;
    padding-bottom: 10px;
    display: none;
  }
  li{
    list-style: none;
    padding-bottom: 3px;
    cursor: context-menu;
    
  }
  strong {
    display: inline-block;
    margin-left: -18px;
    margin-bottom: 5px;
}
ul.active{
  display: block;
}
}
// 06-03-2024

/* ==============================    RESPONSIVE CSS    ========================== */

@media only screen and (min-width: 992px) {
  body.aboutus-class .wrapper {
    overflow: unset;
  }
}

@media only screen and (min-width: 1200px) {
  .sidebar-main {
    max-width: 260px;
  }
}

@media only screen and (min-width: 1400px) {
  .header > .container,
  .first-section > .container,
  .second-section > .container {
    max-width: 100%;
    padding: 0 5%;
  }

  body,
  p {
    font-size: 16px;
  }

  .sidebar-main {
    max-width: none;
    width: 20%;
  }
}

@media only screen and (min-width: 1650px) {
  .card.product-card .card-header{
    height: auto;
  }
  .car-product-main {
    width: 25%;
  }
  section.second-section.section-padding{
    .card.product-card{
      .card-header {
        min-height: 230px;
        height: auto;
        img{height: auto;}

      }
    }
  } 
}

@media only screen and (min-width: 1920px) {
  .header > .container,
  .first-section > .container,
  .second-section > .container {
    max-width: 1800px;
    padding: 0;
  }
}

@media only screen and (min-width: 2100px) {
  html {
    font-size: 22px;
  }

  .card.product-card {
    max-width: 450px;
  }

  .header > .container,
  .first-section > .container,
  .second-section > .container {
    max-width: 80%;
    padding: 0;
  }
}

/* ----------------- */

@media only screen and (max-width: 1399px) {
  .header > .container,
  .first-section > .container,
  .second-section > .container {
    max-width: 100%;
  }

  body,
  p {
    font-size: 15px;
  }
}

@media only screen and (max-width: 1199px) {
  .bid-history-bg .list-container .list-container-wrap .img-row {
    width: 25%;
  }
  .bid-history-bg .list-container .list-container-wrap .det-row {
    width: 70%;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .top-menu ul li a {
    padding: 4px 8px;
    font-size: 16px;
  }
}

@media all and (max-width: 991px) {
  .wrapper {
    left: 0;
    position: relative;
  }

  .hidden-menu {
    overflow: hidden;
  }

  .hidden-menu .wrapper {
    left: 270px;
  }

  .btn-topmenu {
    color: #000 !important;
    font-size: 16px;
    float: right;
    padding: 0;
    width: 30px;
    height: 34px;
    position: relative;
    margin-left: 20px;
    top: 3px;

    .menu-bar {
      height: 2px;
      width: 15px;
      display: block;
      background: #000;
      position: absolute;
      right: 0;
      top: 44%;

      &::after {
        content: "";
        width: 26px;
        height: 2px;
        display: block;
        background: #000;
        bottom: 8px;
      }

      &::before {
        content: "";
        width: 26px;
        height: 2px;
        display: block;
        background: #000;
        top: 8px;
      }

      &::after,
      &::before {
        position: absolute;
        -webkit-transition: all 200ms linear;
        transition: all 200ms linear;
        right: 0;
      }
    }
  }

  .btn-topmenu:focus,
  .btn-topmenu.focus {
    outline: 0;
    box-shadow: none;
  }

  .btn-topmenu.on .menu-bar {
    background-color: transparent;
  }

  .btn-topmenu.on .menu-bar:after {
    transform: rotate(45deg) translate(5px, 5px);
    -webkit-transform: rotate(45deg) translate(5px, 5px);
  }

  .btn-topmenu.on .menu-bar:before {
    transform: rotate(-45deg) translate(6px, -6px);
    -webkit-transform: rotate(-45deg) translate(6px, -6px);
  }

  .hidden-menu .btn-topmenu {
    position: absolute;
    left: -15px;
    background: #ff3a13;
    width: 40px;

    .menu-bar {
      right: 8px;

      &::before,
      &::after {
        background: #fff;
      }
    }
  }

  .menu-logo {
    text-align: center;
    padding: 30px 30px;

    h1 {
      font-size: 20px;
      margin: 0;
      padding: 0;

      a {
        color: #fff;
      }
    }
  }

  .top-menu,
  .wrapper {
    -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
  }

  .top-menu {
    position: fixed;
    top: 0;
    left: -270px;
    z-index: 9992;
    width: 270px;
    height: 100%;
    background: #2e2e2e;
    overflow-y: scroll;

    ul {
      padding: 0;
      margin: 0;
      list-style: none;

      li {
        border-top: solid 1px #3c3c3c;

        a {
          padding: 10px 20px;
          display: block;
          font-size: 16px;
          color: #a3a3a3;
        }

        &.dropdown {
          .arrow {
            position: absolute;
            z-index: 8;
            top: 0;
            right: 0;
            width: 40px;
            height: 44px;
            line-height: 40px;
            text-align: center;
            color: #a3a3a3;
            font-size: 18px;
            cursor: pointer;

            &::after {
              font-family: "FontAwesome";
              content: "\f107";
            }
          }

          > a {
            padding-right: 40px;
          }
        }
      }

      ul {
        padding-bottom: 10px;
        display: none;

        li {
          border: none;

          a {
            padding: 4px 20px 4px 30px;
          }

          &.dropdown {
            .arrow {
              height: 43px;
              line-height: 38px;

              &::after {
                font-family: "FontAwesome";
                content: "\f107";
              }
            }
          }
        }
      }
    }
  }

  .top-menu.open {
    left: 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }

  .top-menu ul li a:hover,
  .top-menu ul li.current-menu-item a {
    color: #fff;
  }

  .top-menu ul li.dropdown.open > .arrow:after {
    content: "\f106";
  }

  .top-menu ul li.dropdown.open > ul {
    display: block;
  }

  .top-menu.open .menu-logo {
    background: #fff;
  }

  /*  Body Part Start */
  .footer-row-widget > div:not(:last-child) {
    margin-bottom: 30px;
  }
  .upload-wrap .upload-item {
    width: 50%;
  }
  a.btn-topmenu.d-lg-none {
    position: absolute;
    top: 27px;
    right: 10px;
  }
}

// Loader
.sc-beySPh {
  display: flex;
  position: fixed;
  top: 50%;
  width: 100%;
  left: 50%;
  transform: translate(-50%, -50%);
  justify-content: center;
  z-index: 9999;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
}

// @media (max-width: 992px) {
//   .sidebar {
//     top: 80px;
//   }
//   .home-section {
//     width: calc(100%);
//     left: 0;
//   }
//   .sidebar {
//     top: 0;
//     .res-close {
//       display: block;
//     }

//   }
@media only screen and (max-width: 992px) {
  .sidebar {
    top: 80px;
  }
  .home-section {
    width: calc(100%);
    left: 0;
  }
  .sidebar {
    top: 0;
    .res-close {
      display: block;
    }

    .place-head > div:nth-child(2) ul li {
      padding: 0 9px;
    }
  }
  @media all and (max-width: 767px) {
    .flexslider .flex-control-nav.flex-control-thumbs li {
      height: 60px;
    }

    .place-head > div:nth-child(1) {
      margin-bottom: 15px;
    }

    .place-head > div:nth-child(2) ul li {
      padding: 0 20px;
    }

    .product-details-section .reserve-part {
      padding: 20px 15px 15px;
    }

    .product-details-section .reserve-part .right-part > p > span {
      width: 50px;
    }

    .nav-tabs-comments > .nav {
      justify-content: center;
      margin-bottom: 15px;
    }

    .comments-area h2 {
      text-align: center;
    }

    .sidebar-part {
      margin-top: 30px;

      h2 {
        text-align: center;
      }
    }

    .search-area {
      width: 210px;
    }

    .from-group.comment-form .btn {
      min-width: auto;
      width: 60px;
      background-size: 25px;
    }

    .sell-your-car-form-section .items {
      padding: 25px 15px 15px;
    }

    .buyers-dashboard-section .buyers-dashboard-area .header-part,
    .buyers-dashboard-section .buyers-dashboard-area .body-part {
      padding: 30px 15px;
    }

    .flexslider .carousel li.slide {
      height: 360px;
    }
    .home-section .home-content {
      flex-wrap: wrap;
    }
  }
  .home-content .header-search {
    order: 1;
    margin-top: 10px;
    width: 100%;
  }
  .home-section .home-content .text {
    font-size: 18px;
    line-height: 34px;
  }
}

@media only screen and (max-width: 575px) {
  // .search-area {
  //   display: none;
  // }
  .card.product-card {
    max-width: 100%;
  }
  .place-head > div:nth-child(2) ul {
    border-radius: 0 0 6px 6px;

    li {
      flex: 0 0 100%;
    }
  }

  .place-head > div:nth-child(1) {
    margin: 0;

    p {
      width: 100%;
      border-radius: 6px 6px 0 0;
    }
  }

  .card-btn {
    margin-top: 15px;
  }

  .flexslider .carousel li.slide {
    height: 200px;
  }
  .upload-wrap {
    .upload-i-brdr {
      height: 100px;
    }
  }
  .home-section .home-content .text {
    display: none;
  }
  .home-content .h-user ul {
    gap: 10px;
  }
  .bid-history-bg .list-container .list-container-wrap {
    flex-wrap: wrap;
  }
  .bid-history-bg .list-container .list-container-wrap .img-row {
    width: 100%;
    padding-right: 0;
  }
  .bid-history-bg .list-container .list-container-wrap .img-row img {
    margin: auto;
    display: table;
    margin-bottom: 20px;
  }
  .bid-history-bg .list-container .list-container-wrap .det-row {
    width: 95%;
  }
  .bid-history-bg .list-container .dtl span {
    display: block;
  }
  .search-area {
    margin-top: 10px;
    width: 100%;
  }
  .sell-your-car-form-section .items .form-control,
  .sell-your-car-form-section .items .form-select {
    padding: 6px 12px;
    margin: 8px 0 20px;
  }
  footer {
    padding: 20px 0 0px;
  }
  .sell-your-car-form-section {
    .btn-submit {
      min-width: 125px;
      height: 40px;
    }
  }
  .section-padding {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
  .footer-row-widget > div:not(:last-child) {
    padding-bottom: 0;
  }
  .first-section {
    padding: 20px 0 0;
  }
  ul.list li {
    font-size: 14px;
  }
  .section-padding-top {
    padding-top: 2rem;
  }
  .card.product-card {
    .card-header {
      img {
        object-fit: cover;
      }
    }
  }
  .card-display-area{
    width: 100%;
  }
}

@media only screen and (max-width: 480px) {
  h2,
  .h2 {
    font-size: 1.2rem;
  }

  .car-product-main {
    flex: 0 0 100%;
  }

  .flexslider .flex-control-nav.flex-control-thumbs {
    justify-content: center;
  }

  .flexslider .flex-control-nav.flex-control-thumbs li {
    width: 25%;
  }
}

@media only screen and (max-width: 420px) {
  .comments-area .nav-tabs-comments ul li .nav-link {
    padding: 0 5px;
    margin: 0 5px;
  }
}

@media only screen and (max-width: 380px) {
}

// 05-02-24
